.thankYouPage {
  margin: 0 auto;
  width: 90%;
  height: auto;
  padding: 20px;
  border: 1px solid #CCC;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thankYouPage h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  color: #646464;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.thankYouPage p {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #777;
  margin-bottom: 30px;
}

.thankYouPage .text_bold {
  font-size: 17.5px;
  color: #333;
  font-weight: 800;
}

.thankYouPage .checklist {
  font-size: 14px;
  padding-left: 10px;
}

.thankYouPage ul li {
  display: block;
  text-align: center;
  width: 100%;
  color: #646464;
  font-size: 13px;
  font-weight: normal;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 24px;
  height: 50px;
  margin: 0;
  border: 0;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  background: #0098DB;
}

.button:active {
  background: #0098DB;
  color: #FFF;
}

.benefits {
  width: 100%;
}

