.formRadioInput {
  height: 65px;
  width: 100%;
  padding: 0 16px;
  padding-top: 5px;
  max-width: calc(768px + 16px * 2);
  margin: 0 auto;
  margin-bottom: 5px;
}

.radioContainer,
.radioContainerTime {
  display: inline-block;
  font-size: 14px;
  color: #999;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.radioContainerTime {
  width: 33.33333%;
}


.formRadioInput input[type='radio'] {
  position: relative;
  top: -16px;
  width: 13px;
  float: left !important;
}

.formRadioInput .boxTitle {
  width: 100%;
  height: auto;
}

.boxTitle span {
  font-size: 12px;
  color: #999;
  margin-right: 0.5em;
}

.optionValue,
.radioContainerTime .optionValue {
  position: relative;
  top: -2.5em;
  color: #252525;
  font-weight: bold;
  font-size: 14px;
}

.radioContainerTime .optionValue {
  font-size: 12px;
  top: -2.9em;
}

/* Styling taken from http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ */

input[type='checkbox']:not(old),
input[type='radio']:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  opacity: 0;
}

input[type='checkbox']:not(old) + label,
input[type='radio']:not(old) + label {
  display: inline-block;
  margin-left: -1em;
  line-height: 1.5em;
}

input[type='checkbox']:not(old) + label > span,
input[type='radio']:not(old) + label > span,
.radioContainerTime input[type='checkbox']:not(old) + label > span,
.radioContainerTime input[type='radio']:not(old) + label > span {
  display: inline-block;
  width: calc(40vw - 15px);
  height: calc(14vw - 15px);
  margin: 0.25em 0.5em 0.25em 0.25em;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  background: #FFF;
  vertical-align: middle;
  max-height: 40px;
  max-width: 360px;
}

.radioContainerTime input[type='checkbox']:not(old) + label > span,
.radioContainerTime input[type='radio']:not(old) + label > span {
  width: calc(31vw - 15px);
}

input[type='checkbox']:not(old) + label > span {
  border-radius: 0.125em;
}

input[type='checkbox']:not(old):checked + label > span,
input[type='radio']:not(old):checked + label > span {
  background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
  background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
  background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
  background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
  background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type='checkbox']:not(old):checked + label > span::before {
  content: '✓';
  display: block;
  width: 1em;
  color: rgb(55, 55, 55);
  font-size: 0.875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.0714em rgb(55, 55, 55);
  font-weight: bold;
}

input[type='radio']:not(old):checked + label > span > span,
.radioContainerTime input[type='radio']:not(old):checked + label > span > span {
  display: block;
  width: calc(40vw - 15px);
  height: calc(14vw - 15px);
  margin: -0.1em;
  border: 1px solid #F6D200;
  border-radius: 5px;
  background: #F6D200;
  max-height: 40px;
  max-width: 360px;
}

.radioContainerTime input[type='radio']:not(old):checked + label > span > span {
  width: calc(31vw - 15px); 
}

@media screen and (max-width: 320px) {
  .optionValue {
    position: relative;
    top: -31px;
  }
  .radioContainerTime .optionValue {
    position: relative;
    top: -30px;
  }
}
